[Desktop Entry]
Type=Application
Name=Sipster
GenericName=Softphone
Comment=Place and take SIP calls from your desktop
Exec=sipster %u
Icon=sipster
Terminal=false
Categories=Network;Telephony;
Keywords=SIP;VoIP;phone;softphone;telephony;FritzBox;
MimeType=x-scheme-handler/tel;x-scheme-handler/sip;x-scheme-handler/sips;x-scheme-handler/callto;x-scheme-handler/sipster;
StartupWMClass=sipster
